*{
  color: white
}

body{
  background-color: #262626;
  margin-left: 3em;
  margin-right: 3em;
}

p{
  margin-left: 1em;
  margin-right: 1em;
}

heading{
  display: flex;
  justify-content: space-between;
}

#six_caps{
  font-family: 'Six Caps', sans-serif;
  font-size: 1.75em;
  letter-spacing: 0.1em;
}

.fas{
  font-size: 1em;
  color: grey;
  margin-right: 1em;
  margin-top: 2.5em;
}

.red_blue{
  display: flex;
  flex-direction: row;
}

.four_boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.three_boxes{
  display: flex;
  flex-direction: column;
  width: 80%
}

.grey_yellow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blue_pink{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Leonardo{
  font-size: .5em;
  margin-left: 2em;
}

#Anders_Lindn, #Sorry, #Olaf_Hussein, #Airfield, #Ziiiro, #Self_Driving, #Lapka, #Smieg, #Balloon{
  font-family: 'Oswald', sans-serif;
  margin-right: 1em;
  margin-bottom: 1em;
  height: 20vw;
}

#Anders_Lindn{
  background-image: url("./images/contemporary.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vw;
  font-size: 2em;
  padding-top: 0.01em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

#Sorry{
  background-image: linear-gradient(to right top, #f80526, #ff4f68, #ff7f9d, #f6aac6, #e9d1de);
  font-family: 'Tajawal';
  text-align: left;
  flex-wrap: nowrap;
  overflow: auto;
  width: 25%;
}

#Olaf_Hussein{
  background-image: url("./images/olaf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vw;
  width: 75%;
}

#Airfield{
  background-image: url("./images/airplane.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vw;
  text-align: right;
}

#Ziiiro{
  background-image: url("./images/ziiiro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vw;
  width: 50%;
}

#Self_Driving{
  background-image: linear-gradient(to right top, #eea310, #f0af4a, #efbb73, #ecc799, #e5d3bf);
  width: 50%;
  height: 20vw;
  text-align: center;
}

#Lapka{
  background-image: url("./images/lapka.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 42vw;
  width: 20%;
}

#Smieg{
  background-image: url("./images/desklamp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vw;
  width: 50%;
}

#Balloon{
  background-image: url("./images/PennywiseIt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vw;
  width: 50%;
}
